[Unit]
Description=ESS MQTT wrapper

[Service]
# all essmqtt command line arguments can be used here. it is recommended to configure essmqtt in a config file
# for this use case
ExecStart=<path_to_venv>/bin/essmqtt --config_file /etc/essmqtt.conf
# Restart will keep the service alive for instance in case the mqtt server goes down or isn't up yet
# when esmqqt starts
Restart=on-failure
# a sensible restart delay prevents fast restart loops potentially denial-of-servicing the ess.
RestartSec=10

[Install]
# we'd like to start, but only after network is up
WantedBy=default.target
Wants=network-online.target
